.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text1{
    /* background-color: magenta; */
    width: 42vw;
    height: 50px;
    margin-top: 20vh;
    /* margin-left: 5vw; */
}

#orange{
    border-radius: 15px;
    background-color: var(--prim-2);
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}

.text2{
    /* background-color: magenta; */
    width: 42vw;
    height: 50px;
    margin-top: 80px;
    margin-left: 35vw;
}

.text2 p{
    text-align: right;
    line-height: 1.5;
}

#green{
    border-radius: 15px;
    background-color: var(--sec-2);
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}

#blue{
    border-radius: 15px;
    background-color: var(--sec-1);
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}

.first-section{
    margin-bottom: 25vh;
    /* position: absolute; */
}

.second-section{
    display: flex;
    margin-bottom: 25vh;
}

.second-section .left  {
    width: 55vw;
    height: fit-content;
    /* margin-left: 9vw; */
    /* background-color: antiquewhite; */
}

.second-section .left p{
    text-align: center;
    padding-right:5vw
}

.second-section .h2{
    color: var(--prim-1);
    padding-top: 10vh;
}

.third-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 25vh;
}

.third-section h1{
    color: var(--prim-1);
    margin-bottom: 5vh;
}

.up img{
    width: 25%;
    height: 25%;
    margin-left: 6%;
    margin-bottom: 2%;
}

.down img{
    width: 38%;
    height: 38%;
    margin-left: 8%
}

.fourth-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10vh;
}

.fourth-section h1{
    color: var(--prim-1);
    padding-bottom: 5vh;
}

.banner{
    width: 80%;
    height: 80%;
    border-radius: 15px;
}

.description{
    display: flex;
    flex-direction: row;
}

.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 1vw;
    margin-top: 2vh;
    /* border: 1px; */
}

.cards b3{
    font-weight: 500;
}

.cards p{
    margin: 0px;
}

#jingga{
    color: var(--prim-2);
    text-align: center;
}

#biru{
    color: var(--sec-1);
    text-align: center
}

#hijau{
    color: var(--sec-2);
    text-align: center
}

.btn-bthome{
    background-color: var(--prim-1);
    color: var(--white);
    margin-bottom: 10vh;
    border: none;
    padding: 7px 35px 7px 35px;
    border-radius: 15px;
    font-weight: 600;
    /* padding-left: 10px; */
}

.btn-bthome:hover{
    opacity: 0.8;
}

.nim{
    text-align: center
}

.role{
    text-align: center
}

/* .nim{
    padding-top: 1vh;
    padding-bottom: -1vh;
} */

/* .role{
    padding-top: -100vh;
} */