::-webkit-scrollbar {
    display: none;
}

.big-container {
    width: 100%;
    height: fit-content;
    /* background-color: cadetblue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.address {
    width: 60%;
    height: fit-content;
    padding: 30px 35px 30px 35px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--dark-grey);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    /* transition: border 0.1s ease; */
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.address:hover {
    width: 62%;
}

.active-border {
    border: 3px solid var(--prim-1);
}

.left-address {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.left-address p {
    font-family: Helvetica;
}

.right-address {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 10%;
    justify-content: space-between;
    gap: 15px;
}

.edit-btn:hover{
    opacity: 0.7;
    transition: 0.3s ease-in-out;
}

.overlay {
    position: absolute;
    width: 50%;
    height: fit-content;
    padding: 37px 40px 37px 40px;
    background-color: white;
    border-radius: 15px;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay-2 {
    position: absolute;
    width: 50%;
    height: fit-content;
    padding: 37px 40px 37px 40px;
    background-color: white;
    border-radius: 15px;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.delete-address {
    position: absolute;
    width: 50%;
    height: 200px;
    padding: 37px 40px 37px 40px;
    background-color: white;
    border-radius: 15px;
    z-index: 1000;
}

.form-address {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: wheat; */
    width: 100%;
}

.form-address p {
    display: flex;
    text-align: left;
}

.form-delete {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: wheat; */
    width: 100%;
}

.del-add-button {
    display: flex;
    flex-direction: row;
    width: 55%;
    /* background-color: wheat; */
    align-items: center;
    justify-content: space-around;
}

.input-box {
    width: 80%;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 8px;
    /* background-color: yellow; */
    margin: auto;
}

.input-box p {
    font-family: Helvetica;
    font-weight: bold;
    color: var(--dark-grey);
    font-size: 14px;
    margin-bottom: 3px;
    text-align: left;
}

.input-box input {
    width: 96%;
    font-size: 14px;
    background-color: #eef5f6;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    background-color: #f2758f;
    color: white;
    border-radius: 10px;
    border: none;
    margin-top: 2vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 2vh;
    cursor: pointer;
}

.btn:hover{
    opacity: 0.7;
    transition: 0.3s ease-in-out;
}

.btn-del {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    background-color: var(--prim-1);
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 2.5vh;
    padding: 2vh;
    cursor: pointer;
}

.keep {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    background-color: white;
    color: var(--sec-2);
    border-color: var(--sec-2);
    border-style: solid;
    border-radius: 10px;
    margin-top: 2.5vh;
    padding: 2vh;
    cursor: pointer;
}

.confirm {
    margin-bottom: 5px;
}

.cancel, .cancel-edit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    background-color: white;
    color: #f2758f;
    border-color: #f2758f;
    border-style: solid;
    border-radius: 10px;
    margin-top: 2.5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 2vh;
    cursor: pointer;
}

.modal, .modal-delete{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    overflow-y: scroll;
    align-items: flex-start;
    justify-content: center;
}
.modal-edit{
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
    align-items: flex-start;
    justify-content: center;
}
.show{
    display: flex;
}

/* .modal-delete {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    overflow-y: scroll;
    align-items: flex-start;
    justify-content: center;
} */

.active {
    display: flex;
}
