*{
    margin: 0;
    font-family: Helvetica;

}
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.container{
    width: 100vw;
    height: 100vh;
    /* background-image: url('/images/book.png'); */

    /* background-color: black; */
}
/* .title{
    background-color: antiquewhite;
} */

.container-product-summary{
    margin-top: 1%;
    width: 100%;
    height: fit-content;
    /* background-color: indigo; */
    display: flex;
    justify-content: space-around;
}
.container-product{
    width: 65%;
    height: fit-content;
    /* background-color: saddlebrown; */
}
.container-summary{
    width: 20%;
    height: 50vh;
    margin-right: 3%;
    /* margin-left: 3%; */
    /* background-color: indigo; */
    /* border: 1px solid black; */
    /* border-radius: 15px; */
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container-product-title{
    display: flex;
    justify-content: space-around;
}
.container-product-title{
    font-size: 20px;
}
.container-product-wrapper{
    margin: 3%;
    width: 100%;
    height: fit-content;
    gap: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: tan; */
}

.container-summary-title{
    width: 90%;
    height: fit-content;
    display: flex;
    justify-content: center;
    /* background-color: brown; */
    border-bottom: 2px solid black;
    padding: 2%;

}
.container-summary-title p{
    font-size: 36px;

}
.container-summary-price{
    display: flex;
    width: 100%;
    height: fit-content;
    /* background-color: aqua; */
    flex-direction: column;

}
.prices ,.total-price{
    display: flex;
    margin: 2%;
    justify-content: space-between;
 }
.prices ,.total-price p{
    font-size: 20px;
}
.total-price p{
    font-weight: bold;
}
.container-summary-checkout{
    /* border: 2px solid var(--prim-1); */
    border-radius: 15px;
    width: 50%;
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    background-color: var(--prim-1);
}
.container-summary-checkout p{
    font-size: 2rem;
    color: var(--white);
}
.products{
    margin-bottom: 2%;
    width: 95%;
    height: 12vh;
    /* background-color: blue; */
    /* margin-top: 2%; */
    border: 1px solid black;
    border-radius: 15px;
    padding: 1%;
    display: flex;
    align-items: center;
    gap: 2%;
}
.product-img{
    height: 100%;
    width: fit-content;
    /* background-color: thistle; */
}
.product-img img{
    height: 100%;
}
.product-name{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 17%;
    /* background-color: tomato; */
}
.product-name p{
    font-size: 24px;
}
.product-quantity{
    height: 100%;
    width: 15%;
    display: flex;
    /* background-color: turquoise; */
    justify-content: center;
    align-items: center;
    gap: 10%;
}
.product-quantity img{
    height: 40%;
}
.product-quantity p{
    font-size: 24px;
}
.product-price{
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: violet; */
    margin-left: 3%;
}
.product-price p{
    font-size: 24px;
}

.product-total-price{
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: violet; */
    margin-left: 3%;
}
.product-total-price p{
    font-size: 1.5rem;
}
.product-details-text{
    margin-left: 7%;
}
.total-text{
    margin-right: 12%;
}
.product-checkbox{
    height: 100%;
    /* background-color: wheat; */
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-checkbox input{
    height: 30%;
    width: 30%;
    accent-color: green;
}
.step1{
    color: var(--prim-1);

    /* opacity: 0.57; */

}
.step2{
    color: var(--sec-1);
    /* opacity: 0.57; */
}
.step3{
    color: var(--sec-2);
        /* opacity: 0.57; */
}
.unselected{
    opacity: 0.57;
}
.selected{
    font-weight: bold;
}
