*{
    margin: 0;
    font-family: Helvetica;

}
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
table{
    width: 70%;
    /* margin-left: %; */

}


td{
    /* width: fit-content; */
    /* width: 20%; */
    height: 100%;
    font-size: 20px;
}
table th{
    padding-bottom: 1%;
    color: var(--dark-grey);
}
.container{
    width: 100vw;
    height: 100vh;
    /* background-image: url('/images/book.png'); */

    /* background-color: black; */
}
/* .title{
    background-color: antiquewhite;
} */

.container-product-summary{
    margin-top: 1%;
    width: 100%;
    height: fit-content;
    /* background-color: indigo; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* justify-content: flex-start; */
    justify-content: space-around;
    /* align-items: center; */
}

.container-product{
    width: 65%;
    height: fit-content;
    /* background-color: saddlebrown; */
}
.container-summary{
    width: 20%;
    height: 50vh;
    margin-right: 2%;
    /* margin-left: 3%; */
    /* background-color: antiquewhite; */
    /* border: 1px solid black; */
    /* border-radius: 15px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.quantity-text{
    margin-left: 17%;
}
.price-text{
    margin-left: 13%;
}
.container-product-title{
    width: 100%;
    margin-left: 30px;
    display: flex;
    /* justify-content: space-around; */
}
.container-product-title p{
    font-size: 20px;
    color: var(--dark-grey);
}
.container-product-wrapper{
    margin-left: 3%;
    margin-top: 2%;
    width: 100%;
    height: fit-content;
    gap: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: tan; */
}

.container-summary-title{
    /* width: 90%; */
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: brown; */
    /* border-bottom: 1px solid var(--dark-grey); */
    margin-bottom: 3%;
    padding: 5%;

}
.container-summary-title p{
    font-size: 36px;
    font-weight: bold;

}
.container-summary-price{
    display: flex;
    width: 100%;
    height: fit-content;
    /* background-color: aqua; */
    flex-direction: column;

}
.prices{
    color: var(--dark-grey);
}
.prices {
    display: flex;
    margin: 2%;
    justify-content: space-between;
 }
.total-price{
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 3%;
    justify-content: space-between;
}
.prices ,.total-price p{
    font-size: 18px;
}
.total-price p{
    font-weight: bold;
    color: var(--prim-1);
}
.container-summary-checkout{
    /* border: 2px solid var(--prim-1); */
    /* border-radius: 15px;
    width: 100%;
    padding: 10px 15px 10px 15px; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    /* background-color: var(--prim-1); */
}

.container-summary-checkout:hover{
    opacity: 0.7;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.container-summary-checkout button{
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: var(--prim-1);
    color: var(--white);
    border-radius: 15px;
    width: 100%;
    padding: 10px 15px 10px 15px;
    align-self: center;

    /* justify-content: center; */
}
.products{
    margin-bottom: 2%;
    width: 95%;
    height: 15vh;
    /* background-color: blue; */
    /* margin-top: 2%; */
    border: 1px solid var(--dark-grey);
    margin-left: 30px;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 2%;
}
.product-{
    height: 100%;
    width: fit-content;
    /* background-color: thistle; */
}
.product-details img{
    height: 100%;
}
.var-cart{
    color: var(--dark-grey);
    margin-top: 3%;
}
.product-details{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15%;
    width: 40%;
    /* background-color: tomato; */
}
.product-name p{
    font-size: 24px;
}
.product-quantity{
    height: 100%;
    width: 10%;
    display: flex;
    margin-left: 4.5%;
    /* background-color: turquoise; */
    justify-content: center;
    align-items: center;
    gap: 10%;
}
.product-quantity img{
    height: 20%;
}

.form-quantity{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10%;
}

.product-quantity img:hover{
    cursor: pointer;
    opacity: 0.7;
    transition: 0.3s ease-in-out;
}

.product-quantity p{
    font-size: 24px;
}
.product-price{
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: violet; */
    margin-left: 5%;
}
.product-price p{
    font-size: 24px;
}

.product-total-price{
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: violet; */
    margin-left: 2.5%;
}
.product-total-price p{
    font-size: 24px;
}
.product-details-text{
    margin-left: 15.5%;
}
.total-text{
    margin-left: 14%;
}
.product-checkbox{
    height: 100%;
    /* background-color: wheat; */
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 5%; */
}
.product-checkbox input{
    height: 30%;
    width: 30%;
    accent-color: var(--sec-2);
    border-radius: 15px;
    color: var(--white);
}
/*
.product-checkbox input:checked{
    color: aliceblue;
} */

.step1{
    color: var(--prim-1);

    /* opacity: 0.57; */

}
.step2{
    color: var(--sec-1);
    /* opacity: 0.57; */
}
.step3{
    color: var(--sec-2);
        /* opacity: 0.57; */
}
.unselected{
    opacity: 0.57;
}
.selected{
    font-weight: bold;
}

.detail-cart p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}