*{
    /* overflow-x: hidden; */

    
}
html{
    /* overflow-y: hidden; */
    scroll-padding-top: 100px;
}
.sidebar{
    /* padding: 10%; */
    margin-top: 7%;
    margin-left: 3%;
    position: fixed;
    /* max-width: 250px; */
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 350px; */
    border: 2px solid var(--grey);
    border-radius: 15px;
    padding: 25px;
    height: 70vh;
}

.sidebar-top a{
    padding: 10px 12px 10px 12px;
    color: var(--black);
    border-radius: 15px;
    font-weight: bold;
    
    /* background-color: antiquewhite; */
}

.sidebar-top{
    
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    gap: 20px;
}

.sidebar-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
}

.sidebar-bottom a{
    color: var(--white);
    background-color: var(--prim-1);
    height: 100%;
    /* text-align: center; */
    width: 100%;
    font-size: 20px;
    /* padding: 10px 65px 10px 65px; */
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-bottom a:hover{
    opacity: 0.7;
    color: var(--white);
    transition: 0.3s ease-in-out;
}
.container-faq{
    width: 99vw;
    height: 100vh;
    display: flex;
    /* flex-direction: row;
    align-items: flex-end; */
    /* background-color: black; */
    /* overflow-x: hidden; */
}
.content-faq{
    margin-top: 7%;
    width: 85%;
    
    margin-left: 22%;
    height: fit-content;
    /* background-color: aqua; */
    padding: 3%;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    
}
.title-faq p{
    font-size: 48px;
    font-family: Helvetica;
    font-weight: bold;  
    color: var(--prim-1);
    margin-bottom: 2%;
}
.faq-question-subheader{
    /* scroll-margin-top: 300px;
*/
    /* margin-top: -100px; */
}
.faq-question-subheader p{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 2%;
    margin-left: 2px;
}

.faq-questions{
    width: 80%;
    outline: 2px solid black;
    border-radius: 15px;
    padding: 2%;
    margin-bottom: 2%;
    margin-left: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.faq-questions img{
    height: 100%;
    width:  40px;

}

.faq-questions p{
    font-weight: normal;
}
#purchase *{
    color: var(--sec-1);
    /* scroll-margin-top: 120px; */
}
#purchase div{
    outline: 2px solid var(--sec-1);
    /* scroll-margin-top: 100px; */
}

#delivery *{
    color: var(--sec-2);
}
#delivery div{
    outline: 2px solid var(--sec-2);
}
#myaccount *{
    color: var(--prim-2);
}
#myaccount div{
    outline: 2px solid var(--prim-2);
    
}
#wishlist *{
    color: var(--prim-1);
}
#wishlist div{
    outline: 2px solid var(--prim-1);
}

#others *{
    color: var(--sec-2);
}
#others div{
    outline: 2px solid var(--sec-2);
}