*{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    font-family: Helvetica;
}

.container{
    display: flex;
    justify-content: center;
    background-image:url('/images/background.png');
    /* background-color: pink; */
    align-items: center;
    min-height: 100vh;
}

.wrapper{
    width: 25vw;
    margin: 5vh 5vh 5vh 5vh;
    border-radius: 15px;
    background-color: white;
    padding: 5vh 2vw;
}

.wrapper h1{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2vh;
}

.wrapper .input-box{
    width: 100%;
    height: 10vh;
    /* background-color: lawngreen; */
    /* margin: 1vh 1vw; */
}

.input-box h3{
    color: #757575;
    font-size: 0.8rem;
}

.input-box input{
    width: 80%;
    background-color: #EEF5F6;
    border-radius: 15px;
    border: none;
    outline: none;
    margin-top: 1vh;
    padding-top:1vh ;
    padding-bottom: 1vh;
    padding-left: 2vh;
}

.wrapper .btn{
    width: 86%;
    background-color: #F2758F;
    color: white;
    border-radius: 15px;
    border: none;
    /* margin: 1vh 1vw; */
    padding-top:1vh ;
    padding-bottom: 1vh;
    padding-left: 2vh;
    cursor: pointer;
}

.register-link{
    font-size: 0.5rem;
    text-align: right;
    margin-top: 2vh;
}

.register-link p a{
    color: #F2758F;
    text-decoration: none;
}

.register-link p a:hover{
    text-decoration: underline;
}
