*{
    padding: 0px;
    margin: 0px;
    font-family: Helvetica;
}

.container{
    display: flex;
    justify-content: center;
    background-image:url('/images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: pink; */
    align-items: center;
    min-height: 100vh;
}

.wrapper{
    width: 25vw;
    margin: 5vh 5vh 5vh 5vh;
    border-radius: 15px;
    background-color: white;
    padding: 5vh 2vw;
    box-shadow: 1px 5px 10px #757575;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.wrapper img{
    width: 40%;
    margin-bottom: 4vh;
    /* text-align: center; */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wrapper .input-box{
    width: calc(100% - 4vw);
    height: 10vh;
    align-items: center;
    justify-content: center;
    margin-top: 1.5vh;
    /* background-color: lawngreen; */
    /* margin: 1vh 1vw; */
}

.input-box h3{
    color: #757575;
    font-size: 0.9rem;
}

.input-box input{
    width: calc(100% - 2vh);
    background-color: #EEF5F6;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-top: 1vh;
    padding-top:1.5vh ;
    padding-bottom: 1.5vh;
    padding-left: 2vh;
    font-size: 0.9rem;
}

.input-box input::placeholder{
    font-size: 0.9rem;
}

.wrapper .btn{
    width: calc(100% - 4vw);
    background-color: #F2758F;
    color: white;
    border-radius: 10px;
    border: none;
    /* margin: 1vh 1vw; */
    margin-top: 2.5vh;
    padding-top:1.5vh ;
    padding-bottom: 1.5vh;
    text-align: center;
    font-family: Helvetica;
    /* font-weight: bold; */
    cursor: pointer;
}

.wrapper .btn:hover{
    background-color: #F2758F;
    opacity: 0.8;
    /* animation-delay: 0.8s;
    animation-duration: 2s; */
}

.register-link{
    width: calc(100% - 4vw);
    font-size: 0.9rem;
    text-align: right;
    margin-top: 2vh;
}

.register-link p a{
    color: #F2758F;
    text-decoration: none;
}

.register-link p{
    color: #757575;
}

.register-link p a:hover{
    text-decoration: underline;
}

.alert input {
    outline: 1.5px solid #FF0000;
}

.alert p{
    font-family: Helvetica;
    font-size: 0.9rem;
    color: #FF0000;
    margin-top: 5px;
}

.alert-message {
    font-family: Helvetica;
    font-size: 0.9rem;
    color: #FF0000;
    margin-top: 5px;
}

.input-box .pass-eye {
    width: 20px;
    height: 1rem;
    position: absolute;
    right: 15px;
    bottom: 1.5vh;
    margin: 0px;
    cursor: pointer;
}

