body{
    background-color: #6DBDB0;
}

.sidebar-menus .order-page {
    filter: none;
}

.order-content {
    position: relative;
    width: calc(100vw - 390px);
    top: 40px;
    left: 350px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.title p, .all-orders-title, .total-orders{
    color: var(--white);
}

.title p {
    font-size: 2.2rem;
}

.title-order .all-orders-title {
    font-size: 1.4rem;
}

hr{
    border: 1px solid var(--white);
}

.title-order{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-right: 15px;
}

th, td {
    padding: 10px 50px 10px 0;
    text-align: center;
}

.data .b2 {
    font-size: 16px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.all-orders{
    background-color: var(--white);
    padding: 15px 25px 15px 25px;
    border-radius: 15px;
    margin: 30px 0px;
}

.head th{
    font-weight: 700;
}

table tr {
    border-bottom: 2px solid var(--grey);
}

table .head {
    border-bottom: 2px solid var(--dark-grey);
}

.action-btn{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.proceed-btn, .cancel-btn{
    padding: 10px 15px 10px 15px;
    background-color: var(--sec-2);
    color: var(--white);
    border: none;
    border-radius: 15px;
}

.proceed-btn:hover{
    opacity: 0.7;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.cancel-btn:hover{
    opacity: 0.7;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.cancel-btn{
    background-color: var(--prim-1);
}

.table-navigation{
    margin-top: 30px;
    display: flex;
    /* gap: 20px; */
    align-items: center;
    justify-content: flex-end;
}

.table-navigation img{
    width: 55%;
}
.exclaimation-mark{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-delete, .modal-proceed{
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  overflow-y: auto;
  align-items: flex-start;
  justify-content: center;
}

.overlay-2 {
    position: absolute;
    width: 50%;
    height: fit-content;
    padding: 37px 40px 37px 40px;
    background-color: white;
    border-radius: 15px;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-delete {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: wheat; */
    width: 100%;
}

.confirm {
    font-weight: bold;
    margin-bottom: 5px;
}

.confirm-desc{
    color: var(--dark-grey);
}

.hidden {
    display: none;
}

.keep {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    background-color: white;
    color: var(--sec-2);
    border-color: var(--sec-2);
    border-style: solid;
    border-radius: 10px;
    margin-top: 2.5vh;
    padding: 2vh;
    cursor: pointer;
}

.keep2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    background-color: white;
    color: var(--prim-1);
    border-color: var(--prim-1);
    border-style: solid;
    border-radius: 10px;
    margin-top: 2.5vh;
    padding: 2vh;
    cursor: pointer;
}

.btn-proceed{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    background-color: var(--sec-2);
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 2.5vh;
    padding: 2vh;
    cursor: pointer;
}

.btn-del {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    background-color: var(--prim-1);
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 2.5vh;
    padding: 2vh;
    cursor: pointer;
}

.btn-del:hover, .keep:hover, .keep2:hover, .btn-proceed:hover{
    opacity: 0.7;
    transition: 0.3s ease-in-out;
}

.del-add-button {
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 55%;
    align-items: center;
    justify-content: center;
}

/* Pagination */
.table-navigation {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.table-navigation .pagination {
    display: flex;
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.table-navigation .pagination li {
    margin: 0 5px;
    background-color: var(--prim-2);
}

.table-navigation p{
    font-family: Helvetica;
    color: lightgrey;
    font-size: 12px;
}

.table-navigation .pagination li a,
.table-navigation .pagination li span {
    padding: 8px 12px;
    text-decoration: none;
    color: var(--white);
    font-family: Helvetica;
    background-color: var(--prim-1);
    border-radius: 5px;
}

.table-navigation .pagination li a:hover {
    opacity: 0.7;
}

.table-navigation li.active span {
    background-color: var(--prim-2);
    color: #fff;
    /* border-color: #007bff; */
}