::-webkit-scrollbar {
  display: none;
}

.big-container{
    width: 100%;
    height: fit-content;
    padding-top: 50px;
    padding-left: 95px;
    padding-right: 150px;
    display: flex;
    flex-direction: row;
}

.back-button{
    width: 4%;
    margin-right: 15px;
    height: fit-content;
    cursor: pointer;
}

.back-button img{
    width: 40px;
    height: 40px;
}

.back-button:hover{
    opacity: 0.7;
}

.right{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.product{
    width: 100%;
    height: fit-content;
    padding : 30px 35px 30px 35px;
    border-style:solid;
	border-width: 1px;
    border-color: var(--grey);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    /* background-color: cornflowerblue; */
}

.left-photo{
    height: 100%;
    width: 35%;
}

.main {
    width: 100%;
    height: 250px;
    background-color: white;
    margin-bottom: 3%;
    display: flex;
    justify-content: center; /* Mengatur gambar di tengah horizontal */
    border: 1px solid var(--grey); /* Atur lebar dan warna border sesuai kebutuhan Anda */
    box-sizing: border-box;
    border-radius: 15px;
    overflow: hidden;
}

.main img {
    max-width: 100%; /* Gambar tidak melebihi lebar area */
    max-height: 100%; /* Gambar tidak melebihi tinggi area */
    object-fit: cover; /* Gambar akan mengisi area tanpa mempertimbangkan aspek rasionya */
}

/* cobain carousel */
.wrapper{
    width: 100%;
    /* background-color: chocolate; */
    /* padding: 0px 7px; */
    position: relative;
}
.wrapper i{
    top: 50%;
    background: var(--prim-1);
    color: white;
    height: 22px;
    width: 22px;
    position: absolute;
    text-align: center;
    line-height: 23px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 0.8rem;
    z-index: 1000;
    transform: translateY(-50%);
}
.wrapper i:first-child{
    left: -10px;
    display: none;
}
.wrapper i:last-child{
    right: -10px;
}
.wrapper .carousel{
    white-space: nowrap;
    cursor: pointer;
    font-size: 0px;
    overflow: hidden;
    scroll-behavior: smooth;
}
.carousel.dragging{
    cursor: grab;
    scroll-behavior: smooth;
}
.carousel.dragging img{
    pointer-events: none;
}
.carousel img{
    height: 98px;
    object-fit: cover;
    margin-left: 2px;
    width: calc(100%/3);
    border: 1px solid var(--grey); /* Atur lebar dan warna border sesuai kebutuhan Anda */
    box-sizing: border-box;
    border-radius: 15px;
}
.carousel img:first-child{
    margin-left: 0px;
}
/* end cobain carousel */

.photo-detail{
    width: 100%;
    height: 96px;
    background-color: thistle;
    display: flex;
    flex-direction: row;
}

.ph-1{
    width: 32%;
    background-color: var(--grey);
    margin-right: 2%;
}
.ph-2{
    width: 32%;
    background-color: var(--grey);
    margin-right: 2%;
}
.ph-3{
    width: 32%;
    background-color: var(--grey);
}

.right-detail{
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    justify-content: center;
}

.title-product{
    display: flex;
    align-items: center;
    font-family: Helvetica;
    font-weight: 700;
    font-size: 36px;
    width: 100%;
}

.rating-sell{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 30px;
    /* background-color: crimson */
}

.rating{
    margin-right: 3%;
    height: 100%;
    align-items: center;
}

.rating img {
    height: 70%;
}

.review-sold{
    height: 100%;
    align-items: center;
}

.variant{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.var-opt{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    font-size: 14px;
    font-family: helvetica-light;
    gap: 10px;
}

.btn-var{
    height: 15px;
    border-style:solid;
	border-width: 1px;
    border-color: var(--dark-grey);
    cursor: pointer;
}

.quantity{
    display: flex;
    flex-direction: row;
}

.plus-minus{
    display: flex;
    flex-direction: row;
}

.check-out{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    align-items: center;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--prim-2);
    height: 40px;
}

.btn-2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--prim-1);
    height: 40px;
}

/* .wish{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wish img{
    width: 25px;
} */

.wishlist img{
    width: 150px;
}

.wishlist:hover{
    opacity: 0.7;
}
.wishlist button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.wishlist button:focus {
    outline: none;
}
.description{
    width: 100%;
    height: fit-content;
    padding : 30px 35px 30px 35px;
    border-style:solid;
	border-width: 1px;
    border-color: var(--grey);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    /* background-color: cornflowerblue; */
}

.title-desc{
    display: flex;
    align-items: center;
    font-family: Helvetica;
    font-weight: 700;
    font-size: 24px;
    width: 100%;
}

.product-desc{
    text-align: justify;
    display: flex;
    align-items: center;
    font-family: Helvetica;
    color: var(--dark-grey);
    font-size: 16px;
    width: 100%;
}

.rating-review{
    width: 100%;
    height: fit-content;
    padding : 30px 35px 30px 35px;
    border-style:solid;
	border-width: 1px;
    border-color: var(--grey);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
}

.title-rating-review{
    display: flex;
    align-items: center;
    font-family: Helvetica;
    font-weight: 700;
    font-size: 24px;
    width: 100%;
}
.container-rate{
    /* background-color: teal; */
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.rate-product{
    /* width: 100%; */
    height: 100px;
    display: flex;
    flex-direction: row;
    /* background-color: violet; */
}

.rate-product img{
    width: 90px;
    height: 90px;
    margin-right: 15px;
}

.rate{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 100%;
}

.rating-numb{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.main-rate{
    font-family: Helvetica;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
}

.standard{
    font-family: Helvetica;
    font-size: 18px;
    padding-bottom: 5px;
    color: var(--grey);
}

.many-users{
    font-family: Helvetica;
    font-size: 18px;
    color: var(--grey);
    transform: translateY(-5px);
}

.rate-filter{
    display: flex;
    align-items:center;
    flex-direction:row;
    background-color: var(--sec-1);
    border-radius:15px;
    padding: 10px 0 10px 0;
}

.dropdown-filter {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-filter .right-part img {
    transition: transform 0.5s ease-in-out;
}

.rate-filter:hover {
    cursor: pointer;
}

.dropdown-filter-content {
    display: none;
    position: absolute;
    background-color: var(--sec-1);
    width: 163px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style: none;
    border-radius: 15px;
    text-align: center;
}

.dropdown-filter-content li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px 5px 10px;
}

.dropdown-filter-content a {
    color: var(--white);
    transition: 0.3s ease-in-out;
}

.dropdown-filter-content a:hover {
    opacity: 50%;
    color: var(--white);
}

.dropdown-filter.active .dropdown-filter-content {
    display: block;
    top: calc(100% + 3px);
    left: 0;
}

.dropdown-filter.active .right-part img {
    transform: rotate(180deg);
}

.review{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.review-detail{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.review-detail-right{
    display: flex;
    flex-direction: column;
    font-family: Helvetica;
    font-weight: 700;
    font-size: 18px;
}

.review-star{
    display: flex;
    flex-direction: row;
}

.review-desc{
    font-family: Helvetica;
    font-size: 15px;
}

.review-photo{
    display: flex;
    flex-direction: row;
}

.review-ph1{
    width: 90px;
    height: 90px;
    margin-right: 5px;
    border-radius: 15px;
}

.suggest{
    width: 100%;
}

.suggest p{
    font-family: Helvetica;
    font-weight: 700;
    font-size: 30px;
}

/* .product-suggest{
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0px 150px;
    padding-bottom: 50px;
} */

.product-suggest{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: cornsilk; */
    width: 100%;
    padding: 0 150px 50px 150px;
}
.wrapper-2{
    width: 100%;
    position: relative;
}
.wrapper-2 i{
    height: 45px;
    width: 45px;
    background: var(--prim-1);
    color: white;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 1.3rem;
    z-index: 1000;
    transform: translateY(-50%);

}
.wrapper-2 i:first-child{
    left: -25px;
}
.wrapper-2 i:last-child{
    right: -25px;
}
.wrapper-2 .carousel-2{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 100px);
    gap: 20px;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
    outline: none;
}
.carousel-2::-webkit-scrollbar{
    display: none;
}

.carousel-2 :where(.card){
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.carousel-2.dragging2{
    scroll-behavior: auto;
    scroll-snap-type: none;
}
.carousel-2.dragging2 .card{
    cursor: grab;
    user-select: none;
}
.carousel-2 .card{
    scroll-snap-align: start;
    list-style: none;
    padding-top: 3px;
    /* background-color: darkblue; */
    height: fit-content;
    border-radius: 10px;
    border: none;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.selected-variant {
    background-color: var(--sec-1);
    color: var(--white);
    border: 1px solid var(--sec-1);
}

.btn-quantity {
    cursor: pointer;
}

.var-opt .hide {
    display: none;
}

.image-review{
    height: 100px;
    width: auto;
}

