*{
    /* top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0; */
    font-family: Helvetica;
    position: relative;
    /* overflow-y: hidden; */
}
::-webkit-scrollbar {
    display: none;
}

body{
    background-color: #F3C3B7;
}

.background{
    /* background-image:url('/images/background.png');
    background-repeat: no-repeat;
    background-size: cover; */
    min-height: 100vh;
    /* overflow-x: hidden; */
    /* overflow-y: hidden; */
}

.sidebar-menus .product-page {
    filter: none;
}

.main-content {
    position: relative;
    width: calc(100vw - 390px);
    top: 40px;
    left: 350px;
    /* background-color:lightsalmon; */
    /* align-items: space-between; */
    margin-right: 40px;
    /* overflow-y: scroll; */
    /* overflow-x: hidden; */
    margin-bottom: 5%;
}

/* .main-content::-webkit-scrollbar{
    display: none;
} */

.content-header {
    width: 100%;
}

.the-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-title {
    font-family: Helvetica;
    font-size: 2.2rem;
    font-weight: bold;
    color: var(--white);
}

/* BUTTON NEW PRODUCT */
.new-prod-btn{
    /* width: calc(100% - 50px); */
    background-color: var(--prim-1);
    /* padding: 12px 25px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 15%;
    background-color: var(--prim-1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; */
    border-radius: 15px;
    padding: 10px 15px 10px 15px;
}

.new-prod-btn img{
    width: 15%;
    height: 80%;
    padding-right: 1vw;
}

.new-prod-txt{
    font-family: Helvetica;
    font-size: 1rem;
    color: var(--white);
}


.sub-content p{
    color: var(--black);
}

.sub-content .all-prods {
    font-size: 1.4rem;

}




.content-line {
    width: 100%;
    border: 1px solid var(--white);
    margin-top: 20px;
}

/* SUB CONTENT */
.sub-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0px;
}

.total{
    display: flex;
    justify-content: flex-end;
    /* margin-right: 3vw;
    margin-top: 2vh; */
    font-family: Helvetica;
    font-size: 1.4rem;
    color: var(--white);
}

/* BOTTOM CONTENT */
.bottom-content{
    /* width: 100%; */
    height: fit-content;
    margin-top: 2vh;
    background-color:var(--white);
    border-radius: 15px;
    border-color: black;
    padding: 15px 0px 15px 25px;
    /* padding-left: 5px; */
}

table tr {
    border-bottom: 2px solid var(--grey);
}
table .title {
    border-bottom: 2px solid var(--dark-grey);
}

/* title{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-right: 15px;
} */



th, td {
    padding-top: 10px;
    padding-bottom:10px;
    text-align: center;
    word-wrap: break-word;
    max-width: 100px;
}

.prod-name{
    text-align: left;
}

table{
    width: 97%;
    border-collapse: collapse;
}

.more-btn {
    position: relative;
    /* margin-top: ; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    height: 20px;
}

/* .more-btn img:hover{
    width: 35%;
    height: 35%;
    opacity: 0.7;
    /* animation-duration: 0.5s; */
/* }    */ */



/* OVERLAY */

.container-edit {
    position: relative;
}

.edit-delete-popup{
    width: 9vw;
    height: 15vh;
    background-color: var(--white);
    /* border: 1px;
    border-color: black; */
    /* box-shadow:  5px 10px var(--grey);; */
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    border-radius: 15px;
    position: absolute;
    top: -10px;
    left: -130px;
    z-index: 1000;
    display: none;
    flex-direction: column;
}

.show {
    display: flex;
}
.hide{
    display: none;
}

.up {
    top: -10px;
}

.edit-delete-popup p{
    /* font-size: 1rem; */
    font-weight: bold;
}

.edit{
    display: flex;
    flex-direction: row;
    padding-left: 1.5vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    align-items: center;
}

.edit img{
    width: 20%;
    height: 100%;
    padding-right: 1vw;
}


.line{
    width: 100%;
    /* margin-top: 1vh; */
    /* margin-bottom: 1vh; */
    border: 1px solid var(--grey);
}

.delete{
    display: flex;
    flex-direction: row;
    padding-left: 1.5vw;
    padding-top: 1.5vh;
    align-items: center;
}

.delete img{
    width: 20%;
    height: 100%;
    padding-right: 1vw;
}

/* .table-content-hr .content-line-hr :last-child{

} */

input[type='file'] {
  color: transparent;
}
.image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.image-wrapper {
    position: relative;
    display: inline-block;
}
.image-wrapper img {
    max-width: 200px;
    max-height: 200px;
    border: 1px solid #ddd;
    padding: 5px;
}
.remove-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: rgba(255, 0, 0, 0.8);
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}
#fileLabel{
    color: var(--dark-grey);
}
#fileList {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
}

#fileList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#fileList li:last-child {
    border-bottom: none;
}

#fileList li:nth-child(odd) {
    background-color: #fafafa;
}

#fileList li:nth-child(even) {
    background-color: #f1f1f1;
}

#fileList button {
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#fileList button:hover {
    background-color: #c0392b;
}

/* DELETE OVERLAY */
.delete-overlay{
     /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.do-content {
    background-color: #fefefe;
    /* margin: 15% auto; 15% from the top and centered */
    padding: 20px 2px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 30%; /* Could be more or less, depending on screen size */
    text-align: center;
}

.do-buttons {
    display: flex;
    /* justify-content: flex-end; */
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
    /* margin-right: 35px; */
}

#confirmDeleteClose{
    padding: 5px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    border-color: var(--prim-1);
    background-color: var(--white);
}

#confirmDeleteYes    {
    padding: 5px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    border-width: 0;
    /* border-color: var(--prim-1); */
    background-color: var(--prim-1);
    color: var(--white);
}

.do-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
} 

.overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
    z-index: 1000;
}

.popup {
    display: block;
    /* position: relative; */
    /* top: 50%; */
    /* top: 0; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    background-color: var(--white);
    border-radius: 15px;
    width: 800px;
    padding: 20px;
    z-index: 1001;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    color: black;
}

.header-title {
    font-size: 1.2em;
    color: var(--white);
}

.divider {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}

.close-btn {
    cursor: pointer;
}


.modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
}

.message-container {
    width: 600px;
    height: 300px;
    padding: 30px;
    background-color: var(--white);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 15px;
    margin: 30px 0px;
}

.alert-message {
    font-family: Helvetica;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--black);
}

.alert-hint {
    font-family: Helvetica;
    font-size: 1rem;
    color: var(--dark-grey);
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}

.cancel-btn {
    font-family: Helvetica;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--sec-2);
    padding: 10px 25px;
    border: 2px solid var(--sec-2);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.cancel-btn:hover {
    opacity: 0.7;
}

.rem-btn {
    font-family: Helvetica;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--white);
    padding: 10px 25px;
    background-color: var(--prim-1);
    border: 2px solid var(--prim-1);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.rem-btn:hover {
    opacity: 0.7;
}

.add-discount-container {
    display: none;
    flex-direction: column;
    width: 800px;
    background-color: var(--white);
    border-radius: 15px;
    margin: 30px 0px;
}

.add-discount-wrapper {
    width: calc(100% - 120px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 30px 60px 60px 60px;
}

.input-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.input-wrapper select{
    width: 100%;
}

.input-name {
    font-family: Helvetica;
    font-size: 1rem;
    color: var(--dark-grey);
}

.input-field {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--grey);
    font-size: 1rem;
    color: var(--dark-grey);
}

.add-new-disc {
    width: 200px;
    padding: 12px 30px;
    background-color: var(--prim-1);
    border-radius: 10px;
    text-align: center;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--white);
    margin-top: 30px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    outline: none;
    border: none;
}

.add-new-disc:hover {
    opacity: 0.7;
}

.add-banner-container {
    display: none;
    flex-direction: column;
    width: 800px;
    background-color: var(--white);
    border-radius: 15px;
    margin: 30px 0px;
}

.banner-wrapper {
    width: calc(100% - 120px);
    height: 200px;
    padding: 0px 60px 0px 60px;
    position: relative;
    margin-bottom: 60px;
}

.banner-form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: var(--prim-1);
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.banner-form:hover {
    opacity: 0.7;
}

.banner-image {
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}

.banner-import {
    font-family: Helvetica;
    font-size: 1.2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--white);
}

.banner-preview {
    position: absolute;
    width: calc(100% - 120px);
    height: 100%;
    top: 0px;
    display: none;
}

.img-preview {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.close-preview {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.submit-banner {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: var(--white);
    text-align: center;
    font-family: Helvetica;
    font-weight: bold;
    color: var(--black);
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.submit-banner:hover {
    opacity: 0.7;
}

.show {
    display: flex;
}

.hide {
    display: none;
}

.pagination-links {
    display: flex;
    justify-content:center; /* Mengatur elemen pagination ke tengah */
    text-align: center;
    align-items: center;
    margin-top: 20px; /* Menambahkan sedikit jarak atas */
}

.pagination-links ul {
    list-style-type: none; /* Menghilangkan bullet points */
    display: flex;
    padding: 0;
    margin: 0;
}

.pagination-links li {
    margin: 0 5px; /* Mengatur jarak antar elemen pagination */
}

.pagination-links li a,
.pagination-links li span {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    background-color: var(--prim-1);
    margin:auto;
    color: var(--white);
    /* border: 1px solid white; */
    border-radius: 4px;
}

.pagination-links li a:hover {
    opacity: 0.7;
}

.pagination-links li.active span {
    background-color: var(--prim-2);
    color: #fff;
    /* border-color: #007bff; */
}


