body {
    width: 100vw;
    position: relative;
}

::-webkit-scrollbar {
  display: none;
}

.main-content {
    max-width: 1000px;
    margin: 40px auto;
    padding: 0px 60px;
}

.address-container {
    padding: 30px;
    width: calc(100%-60px);
    height: fit-content;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--sec-1);
    border-radius: 15px;
}

.address-info {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.address-title {
    font-family: Helvetica;
    font-size: 2rem;
    font-weight: bold;
    color: var(--white);
}

.address-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.address-name {
    font-size: 1.1rem;
    font-family: Helvetica;
    /* font-weight: bold; */
    color: var(--white);
}

.address-full {
    font-family: 1rem;
    font-family: Helvetica;
    color: var(--white);
}

.address-select {
    background-color: var(--white);
    padding: 12px 40px;
    border-radius: 10px;
    font-family: Helvetica;
    font-size: 1.2rem;
    /* font-weight: bold; */
    color: var(--sec-1);
    transition: 0.3s ease-in-out;
}

.address-select:hover {
    opacity: 0.8;
}

.product-payment-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-container {
    margin: 40px 0px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-header {
    font-size: 2rem;
    font-family: Helvetica;
    font-weight: bold;
}

.product-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.payment-container {
    width: 45%;
    height: fit-content;
    margin: 40px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: sticky;
    top: 100px;
}

.payment-wrapper {
    padding: 30px;
    border: 1px solid var(--grey);
    border-radius: 15px;
}

.payment-header {
    font-family: Helvetica;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.payment-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.payment-name {
    font-family: Helvetica;
    font-size: 1.1rem;
    color: var(--dark-grey);
}

.payment-price {
    font-family: Helvetica;
    font-size: 1.1rem;
    color: var(--dark-grey);
}

.final {
    color: var(--prim-2);
    font-weight: bold;
}

.voucher-category{
    font-family: Helvetica;
    font-weight: bold;
    font-size: 20px;
}


.voucher-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    border-radius: 15px;
    background-color: var(--sec-2);
}

.voucher-header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.voucher-title {
    font-family: Helvetica;
    font-size: 1.2rem;
    /* font-weight: bold; */
    color: var(--white);
}

.voucher-btn {
    padding: 10px 30px;
    background-color: var(--white);
    color: var(--sec-2);
    font-family: Helvetica;
    font-size: 1.2rem;
    /* font-weight: bold; */
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.voucher-btn:hover {
    opacity: 0.8;
}

.voucher-category {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.voucher-category-title {
    margin-top: 20px;
    margin-bottom: 10px;
    color: var(--black);
    font-family: Helvetica;
    font-size: 1.2rem;
    font-weight: bold;
}

.voucher-category-title:first-child {
    margin-top: 0px;
}

.discount-remove {
    display: none;
}

.pay-btn {
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--prim-1);
    color: var(--white);
    font-family: Helvetica;
    /* font-weight: bold; */
    font-size: 1.2rem;
    border-radius: 15px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.pay-btn:hover {
    opacity: 0.7;
}

.select-voucher {
    margin-top: 20px;
    display: none;
    flex-direction: column;
    width: 600px;
    background-color: var(--white);
    padding-bottom: 60px;
    border-radius: 15px;
}

.voucher-list {
    height: fit-content;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
}

.modal {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    transition: 0.3s ease-in-out;
}

.voucher-alert {
    color: var(--grey);
}

.message-container {
    width: 600px;
    height: 300px;
    /* padding: 30px; */
    background-color: var(--white);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 15px;
    margin: 30px 0px;
}

.alert-message {
    font-family: Helvetica;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--black);
}

.alert-hint {
    font-family: Helvetica;
    font-size: 1rem;
    color: var(--dark-grey);
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}

.cancel-btn {
    font-family: Helvetica;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--sec-2);
    padding: 10px 25px;
    border: 2px solid var(--sec-2);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.cancel-btn:hover {
    opacity: 0.7;
}

.rem-btn {
    font-family: Helvetica;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--white);
    padding: 10px 25px;
    background-color: var(--prim-1);
    border: 2px solid var(--prim-1);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.rem-btn:hover {
    opacity: 0.7;
}

.active {
    display: flex;
}
