.steps-info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0px auto;
    padding: 20px 0px;
    position: sticky;
    top: 0px;
    background-color: var(--white);
}

.step {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.step-counter {
    font-family: Helvetica;
    font-size: 1rem;
}

.step-detail {
    font-family: Helvetica;
    font-size: 1.4rem;
    font-weight: bold;
}
