@font-face {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica'), url('Helvetica.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Oblique'), url('Helvetica-Oblique.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica Compressed';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Compressed'), url('helvetica-compressed-5871d14b6903a.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica Rounded Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Rounded Bold'), url('helvetica-rounded-bold-5871d05ead8de.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica'), url('Helvetica-Bold.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica Bold Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Bold Oblique'), url('Helvetica-BoldOblique.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica Light';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Light'), url('helvetica-light-587ebe5a59211.woff') format('woff');
}

:root {
    --prim-1: #F2758F;
    --prim-2: #EDC158;
    --sec-1: #52A9CF;
    --sec-2: #78C354;
    --grey: #D9D9D9;
    --dark-grey: #757575;
    --light-blue-grey: #EEF5F6;
    --black: #000000;
    --white: #ffffff;

    --border-radius: 15px;
}

.h1{
    font-family: Helvetica-bold;
    font-weight: 700;
    font-size: 48px;
}

.h2{
    font-family: Helvetica;
    font-weight: 700;
    font-size: 36px;
}

.b1{
    font-family: Helvetica;
    font-weight: 500;
    font-size: 24px;
}

.b2{
    font-family: Helvetica;
    font-weight: 500;
    font-size: 20px;
}

.b3{
    font-family: Helvetica;
    font-weight: 400;
    font-size: 18px;
}

a{
    text-decoration: none;
}

ul, li{
    list-style-type: none;
}

* {
    margin: 0px;
    padding: 0px;
}

.prim-1 {
    background-color: var(--prim-1);
}

.prim-2 {
    background-color: var(--prim-2);
}

.sec-1 {
    background-color: var(--sec-1);
}

.sec-2 {
    background-color: var(--sec-2);
}

.half-opacity {
    transition: 0.3s ease-in-out;
}

.half-opacity:hover{
    opacity: 50%;
}