* {
    margin: 0px;
    padding: 0px;
}

.wrapper {
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 20px 30px;
    gap: 20px;
    border: 2px solid var(--sec-2);
    border-radius: 15px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.wrapper:hover {
    box-shadow: 0px 2px 10px rgba(120, 195, 84, 0.4);
}

.wrapper:hover .voucher-next {
    margin-left: 20px;
}

.details-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.voucher-name {
    font-family: Helvetica;
    font-size: 1.4rem;
    color: var(--black);
    font-weight: bold;
}

.voucher-condition {
    font-family: Helvetica;
    font-size: 1rem;
    color: var(--black);
}

.voucher-period {
    font-family: Helvetica;
    font-size: 1rem;
    color: var(--dark-grey);
}

.voucher-next {
    transition: 0.3s ease-in-out;
}
